/* reset rules */
html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url(images/backgoundImage.png);
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Header rules */
nav {
  width: 319px;
  display: table;
  margin: 0 auto;
  transform: translateY(20%);
}

nav a {
  position: relative;
  width: 40%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: yellow;
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: #00e2ff;
}

nav a:nth-child(2):after {
  background-color: #89ff00;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: palevioletred;
}

nav a:nth-child(4):before {
  background-color: yellow;
}

nav a:nth-child(4):after {
  background-color: red;
}

nav a:nth-child(5):before {
  background-color: lightskyblue;
}

nav a:nth-child(5):after {
  background-color: skyblue;
}

nav a:nth-child(6):before {
  background-color: lightseagreen;
}

nav a:nth-child(6):after {
  background-color: green;
}

#indicator {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator {
  left: 18%;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 36%;
  background: linear-gradient(130deg, purple, palevioletred);
}
nav a:nth-child(4):hover ~ #indicator {
  left: 50%;
  background: linear-gradient(130deg, purple, palevioletred);
}

nav a:nth-child(5):hover ~ #indicator {
  left: 70%;
  background: linear-gradient(130deg, orange, green);
}

nav a:nth-child(6):hover ~ #indicator {
  left: 90%;
  background: linear-gradient(130deg, #3f87a6, #f69d3c);
}

article {
  padding: 5px;
  margin-top: 5px;
}
h2 {
  display: block;
  color: snow;
  font-weight: 400;
  font-size: 28px;
  font-family: sans-serif;
}
section {
  padding: 5px;
  margin: 5px;
}

/* Footer rules */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 2.5rem; /* Footer height */
  padding: 40px 0;
  color: #4b4c4d;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
  transition: all 1s;
}
.footer-basic .social > a {
  font-size: 24px;
  width: 66px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 15px;
  color: inherit;
  opacity: 0.75;
  transition: all 200ms;
  justify-content: space-between;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
  transform: scale(1.5) translate(0px, -20px);
  width: 100px;
}

.footer-basic {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

div a:nth-child(1):hover {
  color: tan;
}

div a:nth-child(2):hover {
  color: seashell;
}

div a:nth-child(3):hover {
  color: rgb(31, 159, 238);
}

div a:nth-child(4):hover {
  color: rgb(27, 102, 195);
}
.copyright {
  text-align: center;
  color: floralwhite;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
}

img {
  border-radius: 50%;
}

figcaption {
  color: #949494;
  font-size: 20px;
  text-align: center;
}
